.DS_Store
etc
class14/
class3/
class4/
class5/
class6/
class7/
class8/
class9/
class10/
class11/
class12/
class13/
class15/
assignments/*
!assignments/assignment1.md
!assignments/assignment2.md
!assignments/assignment-EC1.md
.ipynb_checkpoints/
.jupyter
*.pptx
.~lock*
README-old.md
notes_for_me/