.DS_Store
etc
class14/
class2/
class3/
class4/
class5/
class6/
class7/
class8/
class9/
class10/
class11/
class12/
class13/
class15/
assignments/
.ipynb_checkpoints/
.jupyter
*.pptx
.~lock*
README-old.md
notes_for_me/
!assignments/assignment1.md